
.bg_col-fcf9f0 {
    background-color: #fcf9f0;
}

.bg_col-bfeeda {
    background-color: #bfeeda;
}

.bg_col-bfeeda {
    background-color: #bfeeda;
}

.bg_col-red {
    background-color: red;
}

.bg_col-f0572d{
    background-color: #f0572d;
}

.col-9fc9b3 {
    color: #8fc5ab;
}


.col-bd7672 {
    color: #bd7672;
}

.col-ffffff {
    color: #ffffff
}
.col-5d5c57 {
    color: #5d5c57;
}

.col-eefffd {
    color: #eefffd;
}

.bg-col-eefffd {
    background-color: #eefffd
}

.filter {
    filter: invert(100%);
}

.bg_col-00bb82 {
    background-color: #00bb82;
}

.bg_col-00844e {
    background-color: #00844e;
}
.bg_col-4a4a48{
    background-color: #4a4a48;
}
table td {
    background-color: #fcf9f0;
}

.border-r-col-c8c3bd {
    border-right: 1px solid #c8c3bd
}

.border-l-col-c8c3bd {
    border-left: 1px solid #c8c3bd
}

.box-shadow {
    box-shadow: 0px 1px 10px #05251c;
}
