
.font-weight-30 {
    font-weight: 30;
}

.font-weight-100 {
    font-weight: 100;
}

.font-weight-200 {
    font-weight: 200;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-700 {
    font-weight: 700;
}

.font-family-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-size-11 {
    font-size: 11px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-40 {
    font-size: 40px;
}
.font-size-50 {
    font-size: 50px;
}

.font-weight-800 {
    font-weight: 800;
}

.text-transform-uppercase {
    text-transform: uppercase
}
.font-weight-50 {
    font-weight: 50;
}

.font-size-12 {
    font-size: 12px;
}
