
.w-330px {
    width: 330px;
}

.w-310px {
    width: 310px;
}

.w-145px {
    width: 145px;
}

.w-85px {
    width: 85px;
}

.w-25px {
    width: 25px;
}

.h-25px {
    height: 25px;
}

.w-full {
    width: 100%;
}

.w-6-5 {
    width: 6.5%
}

.w-7 {
    width: 7%
}

.w-8 {
    width: 8%;
}

.w-10 {
    width: 10%
}

.w-45 {
    width: 45%;
}

.w-14 {
    width: 14%
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.h-145px {
    height: 145px;
}

.h-56px {
    height: 56px;
}

.h-160px {
    height: 160px;
}


.h-20{  
    height: 20%;
}
.h-30{
    height: 30%;
}
.h-40{
    height: 40%;
}
.h-50{
    height: 50%;
}
.h-60{
    height: 60%;
}

.h-50px{
    height: 50px;
}
.h-full {
    height: 100%;
}

.h-75px {
    height: 75px;
}

.w-inherit {
    width: inherit
}
.h-iherit {
    height: inherit;
}
.h-10 {
    height: 10%;
}

.w-auto {
    width: auto;
}
.avatar {
    width: 46px;
    height: 46px;
}
.w-46px{
    width: 46px;
}
.h-46px{
    height: 46px;
}

.h-36px{
    height: 36px;
}
.w-36px{
    width: 36px;
}